<% include ../partials/header%>

<h1>
	this is admin dashboard
</h1>
<a href="/admin/aptitude"><button>
	Add aptitude Questions
	</button></a>

<a href="/admin/addcoding"><button>Add coding Questions</button></a>
<a href="/admin/contestrequests"><button>
	Check ContestRequests
	</button></a>