<!DOCTYPE HTML>
<html>
	<head>
		
	</head>
	<body>
		<p style="color:red">
			Instructions:
		</p>
		<p style="color:red">
		  1. Once you submit Qustions and answerKey you cannot change afterwards. So be extra carefull while filling.
		</p>
		<form method="post" action="/useradmin/contest/<%=id%>">
			Enter number of Questions<input type="text" placeholder="number" name="number">
			<button>
				Submit
			</button>
		</form>
	</body>
</html>