<h1>
	Enter your otp : 
</h1>
<form action="/checkotp" method="post">
	<input type="text" placeholder="enter your otp" name="otp">
	<input type="hidden" value="<%=otp%>" name="actualotp" >
	<button>
		Submit
	</button>
</form>
