<% include partials/header%>
<div class="row" >
	<div class="col-sm-9">
			
		<div class="container-fluid ">
			<div class="row contents">
				<a href="/solve/aptitude">
				   <div class="col-sm-4  "  >
			   		<div class="topics">
						<i class="fa fa-gavel"></i>
						<p>
						Practice Aptitude	
						</p>
					   </div>
				  </div>
				</a>
			 	
				<a href="/solve/pastcontest">
				   <div class="col-sm-4  "  >
					   <div class="topics">
						   <i class="fa fa-file-archive-o"></i>
						   <p>
						    Past Contest Questions	   
						   </p>
						  
					   </div>
			   		
				  </div>
				</a>
				<a href="solve/more">
				   <div class="col-sm-4  "  >
			   		  <div class="topics">
						  <i class="fa fa-puzzle-piece"></i>
						  <p>
							Practice Quiz  
						  </p>
						   
					   </div>
					   
				  </div>
				</a>
				
		   </div>
			
	   </div>
		
		
	</div>
	<div class="col-sm-3 ">
		<div class="row" >
			<a href="/contestinfo">
			<div class="col-sm-12 ">
				<div class="rightsidecontents topics">
					<i class="fa fa-rocket"></i>
				  <p>
					  Contests
					</p>	
				</div>
				
			</div>
			</a>
		</div>
		<div class="row ">
			<a href="/contest/leaderboard">
			<div class="col-sm-12 ">
				<div class="rightsidecontents topics">
					<i class="fa fa-trophy" ></i>
				  <p>
					  Leader Board
					</p>	
				</div>
				
			</div>
			</a>
		</div>
		
		<div class="row ">
			<a href="/useradmin/hostcontest/<%=currentUser.username%>">
			<div class="col-sm-12 ">
				<div class="rightsidecontents topics">
					<i class="fa fa-bullhorn" ></i>
				  <p>
					 Host a contest
					</p>	
				</div>
				
			</div>
			</a>
		</div>
		
	</div>
</div>






<% include partials/footer%>