<% include partials/header%>
<div class="row" >
	<div class="col-sm-9">
			
		<div class="container-fluid ">
			<div class="row contents">
				<a href="/solve/aptitude">
				   <div class="col-sm-4  topics"  >
			   		Practice Aptitude
				  </div>
				</a>
			 	
				<a href="/solve/pastcontest">
				   <div class="col-sm-4  topics"  >
			   		Past Contest Questions
				  </div>
				</a>
				<a href="solve/more">
				   <div class="col-sm-4  topics"  >
			   		More
				  </div>
				</a>
				
		   </div>
			
	   </div>
		
		
	</div>
	<div class="col-sm-3 ">
		<div class="row rightsidecontents" >
			<a href="">
			<div class="col-sm-12 topics">
				Contests
			</div>
			</a>
		</div>
		<div class="row rightsidecontents">
			<a href="">
			<div class="col-sm-12 topics">
				Leader Board
			</div>
			</a>
		</div>
		<div class="row rightsidecontents">
			<a href="">
			<div class="col-sm-12 topics">
				Performance
			</div>
			</a>
		</div>
		<div class="row rightsidecontents">
			<a href="/useradmin/hostcontest/<%=currentUser.username%>">
			<div class="col-sm-12 topics">
				Host a contest
			</div>
			</a>
		</div>
		
	</div>
</div>






<% include partials/footer%>