<% include partials/header%>
<div class="main">
<h2>
	Welcome to  Quzizine
</h2>
<p class="about">
Quizine is a Web Application designed to give Quiz enthusiasts and programmers competitive platform while practising online quizes and programming contest on a wide varity of domains.
</p>	
</div>

<div class="doing">
   <h3>
	Here you can:
</h3>
<p class="first ">
	1. Solve wide variety of Quiz Qustions.
</p>
<p class="second">
	2. Participate in Online Quiz Contest.
</p>
<p class="third">
	3. Solve Past Quiz contest problems.
</p>
<p class="forth">
	4. Host a Quiz Contest.
</p>	
</div>


<% include partials/footer%>