<% include partials/header%>
<div class="main">
<h1 style="color:#00EEc9">
	Welcome to  Quzizine
</h1>
<p class="about"style="font-size:20px;color:#00EEc9;">
Quizine is a Web Application designed to give Quiz enthusiasts and programmers competitive platform while practising online quizes and programming contest on a wide varity of domains.
</p>	
</div>

<div class="doing" >
   <h3 style="color:#00EEc9">
	Here you can:
</h3>
<p class="first " style="color:#00EEc9;font-size:15px;">
	1. Solve wide variety of Quiz Qustions.
</p>
<p class="second" style="color:#00EEc9;font-size:15px;">
	2. Participate in Online Quiz Contest.
</p>
<p class="third" style="color:#00EEc9;font-size:15px;">
	3. Solve Past Quiz contest problems.
</p>
<p class="forth" style="color:#00EEc9;font-size:15px;">
	4. Host a Quiz Contest.
</p>	
</div>


<% include partials/footer%>