<h1>
	Sign up
</h1>
<form method="post" action="/credentials">
	<input type="text" name="email" placeholder="enter email">
	<input type="text" name="password" placeholder="password">
	<button>
		submit
	</button>
</form>