<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="timer"></script>
</head>
<body>
<!--  Live Contests-->
<div class="container">
	
  <h1 style="padding-top:3%;">QUIZATHON</h1>
  <h2>Leaderboard</h2>                                                                                    
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>RANK</th>
        <th>TEAM/USER</th>
        <th>SCORE</th>
        <th>TIME</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>DRAGONS</td>
		<td>100</td>
		<td>1:46:51</td>
      </tr>
	  <tr>
        <td>1</td>
        <td>DRAGONS</td>
		<td>100</td>
		<td>1:46:51</td>
      </tr>
	  <tr>
        <td>1</td>
        <td>DRAGONS</td>
		<td>100</td>
		<td>1:46:51</td>
      </tr>
		
    </tbody>
  </table>
  </div>	
</div>


</body>
</html>