<% include ../partials/header%>
<table>
<%contest.forEach(function(c){%>
<tr>
	<a href="/showresult/<%=c.contest_id%>"><%=c.contest_id%></a>
	<a href="/showresult/<%=c.contest_id%>">    <%=c.contest_name%></a>
<br>


<%})%>	
</table>

<% include ../partials/footer%>