<h3 style="color:red">
	<%=message%>
	
</h3>
<h4>
	Page will automatically redirect
</h4>



<script>
window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "https://shrouded-ridge-73828.herokuapp.com/contestinfo/";

    }, 3000);
</script>