<% include ../partials/header%>

<p style="color:red">
	<%=message%>
</p>
<form action="/admin/aptitude" method="post">
	Question: <input type="text" name="question" placeholder="Enter your Question" required="required"><br>
	A: <input type="text" name="optionA" placeholder="Enter option 1" required="required"><br>
	B: <input type="text" name="optionB" placeholder="Enter option 2" required="required"><br>
	C: <input type="text" name="optionC" placeholder="Enter option 3" required="required"><br>
	D: <input type="text" name="optionD" placeholder="Enter option 4" required="required"><br>
	Answer: <select name="answer">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
	</select>
	<br>
	<button>
		Submit
	</button>
</form>

<% include ../partials/footer%>